body {
    margin: 10pt;
    font-size: 11pt;
}

code {
    font-size: 10pt;
}

.edit_error_class {
  display: block;
  color: red;
}

.sidebar ul {
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
}
	 

.sidebar ul li {
	margin:0;
	padding:0;
	list-style:none;
	border:1px solid #ccc;
	border-bottom:none;
}

.sidebar ul li a {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li span {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li a:hover {
	background-color: #eee;
}

/*
 * Data table settings:
 * We need alternating background colors, but blueprint's screen.css defines
 * it on the td, we change it to be on the tr, so we can select/hover rows
 */
table.data_table {
    font-size: 8pt;
}

table.data_table tr td {
    background: none;
}
table.data_table th {
    background-color: #555555;
    color: white;
}

table.data_table tr:nth-child(even) {
    background: #e5ecf9;
}

table.data_table tr:hover {
    background-color: #24249b;
    color: white;
}

table.data_table tr.selected {
    background-color: #24249b;
    color: white;
}

.echidna-caption {
    font-weight: bold;
    font-size: 10pt;
}
.echidna-text {
    font-size: 10pt;
}
